body {
	background-image: radial-gradient(#a3cef1, #e7ecef);
	color: #184E77;
	font-size: 20px;
	margin-left: 6%;
	margin-right: 6%;
}


.title {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 450%;
	font-family: "Montserrat", sans-serif;
}

.tenor-gif-embed {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	margin-left: 65%;
	margin-top: -18%;
}

#example_box {
	width: 35%;
	background-color: #E7ECEF;
	border: 3px solid #a3cef1;
	border-radius: 5px;
	box-sizing: border-box;
}	

#text_1 {

	padding-right: 40%;
}

#example_4
{
	margin-left: 50%;
	margin-top: -24%;
}

#bubbles_gif
{
	margin-left: 50%;
	margin-top: -30%;
}
#letters_gif
{
	margin-left: 50%;
	margin-top: -35%;
}

/*navigation */
ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #184E77;
	margin-left: -6%;
	margin-right: -6%;
	padding-left: 4%;

}

li {
	float: left;
	
}

li a {
	display: block;
	color: #E7ECEF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #1E6091;
}

.example_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	margin-left: 40%;
	margin-top: -35%;
	width: 60%;
}

h2 {
	padding-top: 10px;
	color: #6096BA;
	font-family: "Montserrat", sans-serif;
}

h1 {
	padding-top: 10px;
	color: #1E6091;
	font-family: "Montserrat", sans-serif;
}

.link {
	color: #023047;
	font-weight: bold;
}

/* title animation */
@import url('https://fonts.googleapis.com/css?family=Playfair display:500,700');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Playfair display', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #dedede;
}

.title {
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: -1;
	}

	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}

	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}

}

.title-container {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

@keyframes up {

	100% {
		transform: translateY(0);
	}

}

@keyframes draw {

	100% {
		width: 100%;
	}
}

/*dropdown navigation
<style>
/* Style The Dropdown Button */
.example {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .title_header {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .title_header:hover .example {
	background-color: #3e8e41;
  }